﻿<table class="table table-hover">
    <thead>
    <th>Задача выполнена</th>
    <th>Название</th>
    <th>Дата создания</th>
    <th>Действия</th>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr @onclick=@(()=>ClickRow(item.Id)) class="@(item.Id == Current?"table-primary":null)">
                <td><input type="checkbox" checked="@item.IsComplite" disabled="disabled" /></td>
                <td>@item.Name</td>
                <td>@item.Created.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td><a href="/todo/delete/@item.Id" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    private List<BlazorApp.Client.Presentation.TodoDto> Items { get; set; }

    [Parameter]
    private EventCallback<UIMouseEventArgs> OnClick { get; set; }

    [Parameter]
    private Guid Current { get; set; }

    private async Task ClickRow(Guid id)
    {
        await OnClick.InvokeAsync(CreateArgs(id));
    }

    private ClickTodoEventArgs CreateArgs(Guid id)
    {
        return new ClickTodoEventArgs { Id = id };
    }

    public class ClickTodoEventArgs : UIMouseEventArgs
    {
        public Guid Id { get; set; }
    }
}
