﻿@page "/todo/delete/{id:guid}"
@using BlazorApp.Client.TodoModule.Presentation
@using BlazorApp.Client.Shared;
@layout MainLayout
@inherits DeleteTodoViewModel
<h3>Удалить Todo </h3>
@if (Todo != null)
{
    <div class="row">
        <div class="col">
            <input type="checkbox" checked=@Todo.IsComplite disabled="disabled" />
            <br />
            <label>@Todo.Name</label>
            <br />
            <button class="btn btn-danger" onclick=@Delete>Удалить</button>
        </div>
    </div>
}
else
{
    <p><em>Такой Todo не найден</em></p>
}
