﻿@layout MainLayout
@page "/todo"
@inherits BlazorApp.Client.Presentation.TodoViewModel
<h3>Todo</h3>
<h4>Список</h4>
<div class="row">
    <div class="col">
        @if (Items == null)
        {
            <p><em>Загрузка...</em></p>
        }
        else if (Items.Count == 0)
        {
            <p><em>Нет задач для отображения. Пожалуйсте добавте какую нибудь.</em></p>
        }
        else
        {
            <TodoTableComponent Items=@Items OnClick=@Select Current=@(Selected?.Id??Guid.Empty)></TodoTableComponent>
        }
    </div>
</div>
<br />
<h4>Создать Todo</h4>
<div class="row">
    <div class="col">
        @if (Items != null)
        {
            <EditForm name="addForm" Model=@this OnValidSubmit=@Create>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <InputText @bind-Value=@NewTodo />
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </EditForm>
        }
    </div>
</div>
<br />
<h4>Редактировать Todo</h4>
<div class="row">
    <div class="col">
        @if (Items != null)
        {
            @if (Selected != null)
            {
                <EditForm name="editForm" Model=@Selected OnValidSubmit=@Update>
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <InputCheckbox @bind-Value=@Selected.IsComplite />
                        <InputText @bind-Value=@Selected.Name />
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="reset" class="btn btn-warning" @onclick=@CanselEdit>Отмена</button>
                    </div>
                </EditForm>
            }
            else
            {
                <p><em>Кликните на задаче чтобы ее редактировать</em></p>
            }
        }
    </div>
</div>
